body{
    background-color: rgb(0, 255, 149);
  background-image: url(jpg/aa.jpg);
}
p{
    background-color: #3307f7;
    color: crimson;
    margin:  10px;
    padding:  3px  9px 10px 30px;
    font-size:  20px;
    width: 40%;
    box-shadow: 56px 59px 5px 8px rgba(255, 0, 0, 1);
    border-radius: 24px 200px 36px 200px;
}

#container{
    display: flex;
    flex-direction: colum;
}
.header{
    background-color: #a5225f;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.navi{
    background-color: #585008;
    height: auto;
}
.content{
    background-color: #754701;
   float:left;
    width: 75%;
    display: flex;
    flex-direction: column;
}
.sidebar{
    background-color: #2f2f2f;
    float: right;
    width: 25%;
}

.clear{
    clear: both;
}
.footer{
    
    background-color: #3307f7;
    height: auto;
}

#headimg{
    width: 200px;
    height :70%;
}
.post{
    display: flex;
    height: 500px;
    background-color: navy;
}
.post img{
    flex: 30%;
}
.postT{
    flex: 30%;
}
.footer {

    background-color: #3307f7;
    height: auto;
    display: flex;
    padding: 10px;
    margin: 10px;
    text-align: center;
}
.footer img{
    flex: 40%;
}
.obema{
    flex: 30%;
}

#menu1{
    position: relative;
    display: block;
    width: block;
    height: auto;
    z-index: 10;
}
#menu ul{
    position: relative;
    display: block;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    list-style: none;
}
#menu1 > ul::after{
    display: block;
    width: 100%;
    height: 0;
    clear: both;
    content: "";
}
#menu1 > ul li{
    position: relative;
    display: block;
    float: left;
    width: auto;
    height: auto;
}
#menu1>ul li {
    display: block;
    padding: 10px;
    font-size: 14px;
    line-height: 1.3em;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    height: 38px;
    box-sizing: border-box;
    background-color: rgb(37, 0, 245);
    color: rgb(83, 36, 36);
    border: solid 2px #8fe5a9;
    border-radius: 5px;
}
#menu1 ul li ul{
    position: absolute;
    top: 40px;
    left: 0;
    display: none;
    width: 200px;
    background-color: #2f2f2f;
}
#menu1 ul li:hover> ul{
    display: block;
}
#menu1 ul li ul li{
    float: none;
    width: 100%;
}
#menu1 ul li ul li a{
    background-color: rgb(37, 0, 245);
        color: rgb(83, 36, 36);
        
        border: solid 2px #8fe5a9;
        border-radius: 5px;
}

#menu1 ul li :hover> a{
    background-color: rgb(251, 250, 255);
    color: rgb(245, 0, 0);
    border: solid 2px #011306;
}
#menu1 ul li ul li:hover>a{
    background-color: #2f2f2f;
    color: #000;
    border: solid 2px #000;
}

.your-class{
    margin: 10px;
}
.element{
    width: 100%;
}